{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    {% if current_user.is_authenticated %}
            <div class="text-center">
                <h1>One stop shop for all things SNEAKERS</h1>
            </div>
        
    {% else %}
        <div class="text-center">
            <h1>Sign up to stay in the know</h1>
            <p>Simplicity at tips of your hand</p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        
        <div class="col-12 col-lg-8 order-1 order-lg-0">
            
            {% for article in articles %}
            <div class="card mt-3">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../static/Guru_logo.png"class="card-img-top" alt="{{ article.title }}">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title">{{ article.title }}</h5>
                      
                      <a href="{{ article.link }}" class="btn btn-danger">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

        </div>






        <div class="col-12 col-lg-4 order-0 order-lg-1 mt-3">
            <div class="position-sticky top-0">
                
                    <div class="card-body">
                        <img src="../static/Guru_logo.png" alt="Your Company Icon" width="350" height="300">
                    </div>
                
            </div>

        </div>
        
    </div>

{% endblock %}
